@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Raleway');


* {
  box-sizing: border-box;
}

html {

}

body {
  background-image: url(./images/background_2.jpg);
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;

}

p {
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

h1, h2 {
  font-family: 'Berkshire Swash', cursive;
}

h1 {
  font-size: 35px;
  color: gold;
  text-shadow: 1px 1px #000;
  text-align: center;
}
h2 {
  text-shadow: 1px 1px #fff;
  font-size: 25px;
}

.wrapper {
  /*display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;*/
  /*background-color: #faf6ea;*/
  /*padding: 5% 10%;*/
}

.blogitem {
  background-color: tomato;
  opacity: 0.8;
  color: black;
  width: 550px;
  height: auto;
  padding: 1% 20px;
  margin: auto;
  margin-bottom: 2%;
}

.post-top {
background-color:;
}

.post-title p{
  font-size: 11px;
}

.post-content {}

.post-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
}

.post-bottom p{
  font-size: 14px;
}

.button {
  background: url('/images/sauron.png') no-repeat;
  background-size: contain;
  width: 40px;
  height: 35px;
  margin-right: 5px;
  transition-duration: 0.4s;
  border:1px solid transparent;

}
.button:hover {
  /*opacity: 0.8;*/
  background-color: black;
  border-radius: 2px;
}
